.red {
    background: repeat-x scroll 50% 50% red;
    border: 1px solid #000000;
    font-weight: 600;
    float: left;
}
.orange {
    background: repeat-x scroll 50% 50% orange;
    border: 1px solid #000000;
    font-weight: 600;
    float: left;
}
.yellow {
    background: repeat-x scroll 50% 50% yellow;
    border: 1px solid #000000;
    font-weight: 600;
    float: left;
}
.project {
    background: repeat-x scroll 50% 50% lightgrey;
    border: 1px solid #000000;
    font-weight: 600;
    float: left;
}
.redalert {
    background: repeat-x scroll 50% 50% #F70D1A;
    border: 1px solid #000000;
    font-weight: 600;
    float: none;
    text-align: center;
    vertical-align: middle;
    line-height: 2em;
}
.greenalert {
    background: repeat-x scroll 50% 50% #32CD32;
    border: 1px solid #000000;
    font-weight: 600;
    float: none;
    text-align: center;
    vertical-align: middle;
    line-height: 2em;
}
