//************************* ASSESSMENT > SELF ASSESSMENTS BEGIN ************************//
.pending-risk-form {
    &:first-of-type, &:last-of-type {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}
//************************** ASSESSMENT > SELF ASSESSMENTS END *************************//

//********************** ASSESSMENT > QUESTIONNAIRE QUESTIONS BEGIN ********************//
// CHECK THIS LATER(LEFT THIS YET SINCE IT IS USED IN SEVERAL PARTS WITH JS LOGIC)
#questionnaire-questions-container, 
#questionnaire-answers-container {
    table {
        th, td {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-left: 0;
            padding-right: 0;
        }
    }

    .risk-assessment-table, 
	.compliance-assessment-table, 
	.maturity-assessment-table {
        th, td {
			padding-left: 20px;
			padding-right: 20px;
		}

        tr:first-of-type {
            th, td {
                padding-top: 1.25rem;
            }
        }

        tr:nth-child(2) {
            th, td {
                padding-bottom: 1.25rem;
            }
        }

        tr:last-of-type {
            th, td {
                padding-bottom: 1.25rem;
            }
        }

		.risk-scoring-container {
			padding: 0 !important;
			
			.row {
				flex-wrap: nowrap;
				align-items: center;
				padding-bottom: 0.5rem;
				padding-top: 0.5rem;

				.col-2 {
					font-weight: bold;
					min-width: 200px;
					max-width: 200px;
				    margin-bottom: 0 !important;
				}

				.col-9 {
					width: 100%;
					flex-shrink: 1;

					p {
						margin-bottom: 0;
					}
				}
			}
		}
    }

    .add-delete-icon {
		width: 30px;
		height: 30px;
	}
}
//*********************** ASSESSMENT > QUESTIONNAIRE QUESTIONS END *********************//

//*********************** ASSESSMENT > QUESTIONNAIRE RESULTS BEGIN *********************//
.files--wrapper-accordion-header {
    position: relative;

    .add-files {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        right: 60px;
        z-index: 100;
    }
}

.comments--wrapper-accordion-header {
    position: relative;

    .add-comments {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        right: 60px;
        z-index: 100;
    }
}

#comments--wrapper-accordion-body {
    .comments--list {
        .comment-block {
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}

.audit-log-accordion-header {
    position: relative;
    
    .refresh-audit-trail {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        right: 60px;
        z-index: 100;
    }
}
//************************ ASSESSMENT > QUESTIONNAIRE RESULTS END **********************//