#edit-assessment-container{
    #dataTable, .answers-table{
        input{
            max-width: none;
            &[name="risk_score[]"]{
                width: 63px;
            }
        }
        td{
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}

.table.assessment-datatable{
/*    margin-top: 13px;*/
}

.multiselect-container{
    .multiselect-clear-filter{
        display: none;
    }
    *{
        max-width: none !important;
    }
    width: 100%;
}

table{
    a.edit-btn, a.copy-btn, a.delete-btn{
        display: inline !important;
    }
}

#questionnaire-answers-container .answers-table .selectize-dropdown {
    width: 180% !important;
    left: auto !important;
    right: 0px;
}