/*--------------------------------------------------------------
 ## Button Styles
 --------------------------------------------------------------*/
.btn,
button,
input[type="button"],
input[type="submit"]{

  @extend .animation;

  border-radius: 2px;
  padding: 7px 20px;
  border: none;
  font-weight: 600;
  color: #fff !important;
  text-shadow: none;
  background-image: none;
  background-color: $color-1;
  outline: none !important;
  box-shadow: none;
  font-family: $font-1 !important;

  &:hover,&:active{
    background-color: $color-3;
  }

  &:visited{
    background-color: $color-1;
  }
}

.btn.btn-danger{
  background-color: $color-3;

  &:hover,&:active,&:visited{
    background-color: darken($color-3,5%);
  }
}

.btn.btn-success{
  background-color: $color-5;

  &:hover,&:active,&:visited{
    background-color: darken($color-5,5%);
  }
}

.btn.btn-default{
  background-color: $color-2;

  &:hover,&:active{
    background-color: darken($color-2,5%);
  }

  &:visited{
    background-color: $color-2;
  }
}

.btn-sm {
    padding: 2px 10px !important;
    font-size: 11.9px !important;
    border-radius: 3px !important;
}

.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
    border-radius: 2px;
    padding: 8px 10px;
    min-width: 250px;
    text-align: left;
    background-color: #fff !important;
    color: $text-color !important;
    border: 1px solid $border-color;

    .caret {
        margin-top: 8px;
        margin-left: 0;
        position: absolute;
        right: 10px;
    }
}

