.comments--wrapper{
  margin-top: 38px;

  textarea{
      max-width: 100% !important;
  }

  .form-actions{
    margin-top: 0px;
  }

  .well{
    padding: 0px;

    & > h4{
      margin: 0px;
      padding: 15px 20px 15px 20px;
      cursor: pointer;

      i{
        margin-right: 10px;
      }
    }

    form#comment{
      padding: 0 20px;
    }
  }
}

.comment-block{
  border-top: 1px solid $border-color;
  padding: 20px;
}

.audit-trail{
  padding: 20px;

  p{ font-size: 14px; }

}


a.add-comments.pull-right {
    width: 25px;
    height: 25px;
    background-color: #000;
    text-align: center;
    line-height: 25px;
    color: #fff;
    border-radius: 50%;
    font-size: 14px;
    padding-right: 0px;
    margin-right: 0px !important;
    z-index: 1010;
    position: relative;

    i{
      margin-right: 0px;
    }
}

.collapsible--toggle{
/*  position: relative;*/
  z-index: 10;
}

form#comment{
  display: none;
}

.add-comments{

  @extend .animation;

  &.rotate{
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
  }

}

.assessment-comment{
    width: 100%;
    margin-top: 15px;
}
