//**************************************** COMMON PART BEGIN **************************************//
#active-audits-table, 
#past-audits,
#active_audits_datatable,
#past_audits_datatable {
    .red-background {
        background-color: pink;
    }
    
    .green-background {
        background-color: lightgreen;
    }
}
//***************************************** COMMON PART END ***************************************//

//********************************** COMPLIANCE > DEFINE TESTS BEGIN ******************************//
.define-tests-filter-part {
    .multiselect-native-select {
        .multiselect-container.dropdown-menu {
            width: auto;
        }
    }
}
//*********************************** COMPLIANCE > DEFINE TESTS END *******************************//

//********************************* COMPLIANCE > INITIATE AUDITS BEGIN ****************************//
#tags--edit {
    .test_tags.selectize-control {
        .selectize-input {
            .item {
                word-break: break-word;
            }
        }
    }
}
//********************************** COMPLIANCE > INITIATE AUDITS END ******************************//

//********************************** COMPLIANCE > ACTIVE AUDITS BEGIN ******************************//
#active_audits_datatable_wrapper {
    .multiselect-native-select {
        .multiselect-container.dropdown-menu {
            width: auto;
        }
    }

    // When multiselect dropdown is moved to the outside of the datatable's header filter scrollable container so that it can't be cut off by the scrollable container
    .multiselect-container.dropdown-menu {
        width: auto;
    }
}
//********************************** COMPLIANCE > ACTIVE AUDITS END ********************************//

//********************************** COMPLIANCE > PAST AUDITS BEGIN ********************************//
#past_audits_datatable_wrapper {
    .multiselect-native-select {
        .multiselect-container.dropdown-menu {
            width: auto;
        }
    }
    
    // When multiselect dropdown is moved to the outside of the datatable's header filter scrollable container so that it can't be cut off by the scrollable container
    .multiselect-container.dropdown-menu {
        width: auto;
    }

    th[data-name="tags"] {
        .multiselect-native-select {
            .multiselect-container.dropdown-menu {
                width: auto;
                min-width: 250px;
    
                button.dropdown-item {
                    label.form-check-label {
                        white-space: normal;
                        word-break: break-word;
                    }
                }
            }
        }
    }
}
//*********************************** COMPLIANCE > PAST AUDITS END *********************************//

//* COMPLIANCE > ACTIVE AUDITS > VIEW TEST, COMPLIANCE > PAST AUDITS > VIEW TEST COMMON PART BEGIN *//
#modal-existing-risk {
    .multiselect-native-select {
        .multiselect-container.dropdown-menu {    
            button.dropdown-item {
                label.form-check-label {
                    white-space: normal;
                    word-break: break-word;
                }
            }
        }
    }
}
//** COMPLIANCE > ACTIVE AUDITS > VIEW TEST, COMPLIANCE > PAST AUDITS > VIEW TEST COMMON PART END **//

//**************************** COMPLIANCE > ACTIVE AUDITS > VIEW TEST BEGIN ************************//
.active-audit-test-container {
    #edit-test {
        .form-group {
            display: flex;
            align-items: center;
            margin-bottom: 0.5rem;
    
            &>label {
                width: 200px;
                min-width: 200px;
            }
        }
    }
    
    #framework-control-accordion-body {
        .form-group {
            display: flex;
            align-items: center;
            margin-bottom: 0.5rem;
    
            &>label {
                width: 200px;
                min-width: 200px;
            }
        }
    }

    #comments-accordion-body {
        .comment-block {
            margin-top: 1rem;
            margin-bottom: 0;
        }
    }

    #audit-trail-accordion-body {
        .audit-trail {
            p:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}
//****************************** COMPLIANCE > ACTIVE AUDITS > VIEW TEST END ************************//

//****************************** COMPLIANCE > PAST AUDITS > VIEW TEST BEGIN ************************//
.past-audit-test-container {
    #test_detail_information, 
    #test_result_information {
        .form-group {
            display: flex;
            align-items: center;
            margin-bottom: 0.5rem;
    
            &>label {
                width: 200px;
                min-width: 200px;
            }
        }
    }

    .attachment-files-container {
        p:last-of-type {
            margin-bottom: 0;
        }
    }
    
    #framework-control-accordion-body {
        .form-group {
            display: flex;
            align-items: center;
            margin-bottom: 0.5rem;
    
            &>label {
                width: 200px;
                min-width: 200px;
            }
        }
    }

    #comments-accordion-body {
        .comment-block {
            margin-top: 1rem;
            margin-bottom: 0;
        }
    }

    #audit-trail-accordion-body {
        .audit-trail {
            p:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}
//******************************* COMPLIANCE > PAST AUDITS > VIEW TEST END *************************//