//**************************************** COMMON PART BEGIN **************************************//
#active-audits-table, 
#past-audits,
#active_audits_datatable,
#past_audits_datatable {
    .red-background {
        background-color: pink;
    }
    
    .green-background {
        background-color: lightgreen;
    }
}
//***************************************** COMMON PART END ***************************************//

//***************************** Compliance > Active Audits > View Test Begin *******************************//
.active-audit-test-container {
    #edit-test {
        .form-group {
            display: flex;
            align-items: center;
            margin-bottom: 0.5rem;
    
            &>label {
                width: 200px;
                min-width: 200px;
            }
        }
    }
    
    #framework-control-accordion-body {
        .form-group {
            display: flex;
            align-items: center;
            margin-bottom: 0.5rem;
    
            &>label {
                width: 200px;
                min-width: 200px;
            }
        }
    }

    #comments-accordion-body {
        .comment-block {
            margin-top: 1rem;
            margin-bottom: 0;
        }
    }

    #audit-trail-accordion-body {
        .audit-trail {
            p:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}
//****************************** Compliance > Active Audits > View Test End ********************************//

//****************************** Compliance > Past Audits > View Test Begin ********************************//
.past-audit-test-container {
    #test_detail_information, 
    #test_result_information {
        .form-group {
            display: flex;
            align-items: center;
            margin-bottom: 0.5rem;
    
            &>label {
                width: 200px;
                min-width: 200px;
            }
        }
    }

    .attachment-files-container {
        p:last-of-type {
            margin-bottom: 0;
        }
    }
    
    #framework-control-accordion-body {
        .form-group {
            display: flex;
            align-items: center;
            margin-bottom: 0.5rem;
    
            &>label {
                width: 200px;
                min-width: 200px;
            }
        }
    }

    #comments-accordion-body {
        .comment-block {
            margin-top: 1rem;
            margin-bottom: 0;
        }
    }

    #audit-trail-accordion-body {
        .audit-trail {
            p:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}
//******************************* Compliance > Past Audits > View Test End *********************************//