.caret{
    vertical-align: middle;
}

#delete_mapping{
    position: relative;
    top: -4px;
}

.specified_time_holder{
    display: none;
    select{
        width: auto;
    }
}

.label-for-edit{
    cursor: pointer;
}

.audit-option-container{
    margin-bottom: 10px;
    .audit-select-folder{
        float: left;
    }
    .audit-download-folder{
        float: right;
        >a{
            cursor: pointer;
        }
        .down-icon{
            margin-top: -10px;
        }
    }
}