.questionnaire-result-container, #questionnaire_responses {

    .affected-asset-list span {
        cursor: pointer;
        margin: 0 3px 3px 0;
        padding: 1px 5px;
        border-radius: 2px;
        display: inline-block;
    
        &.asset {
            background-color: var(--sr-default) !important;
            color: var(--sr-primary) !important;
        }
    
        &.group {
            background-color: var(--sr-secondary) !important;
            color: var(--bs-body-bg) !important;
        }
    }
    
    .template-name {
        padding-top: 10px;
    }
    
    .questionnaire-question {
        &.parent {
            padding: 5px 0px;
        }
    }
    
    .navigation {
        padding: 5px 0px;
    }    
}


.questionnaire-compare-result-container, .questionnaire-answers {
     ul {
        list-style: none;

        li {
            span {
                position: relative;

                &:before {
                    font-family: var(--fa-style-family-classic);
                    position: absolute;
                    left: -5px;
                    transform: translateX(-100%);
                }

                &:not(.selected):before {
                    content: '\f111';
                }

                &.selected:before {
                    content: "\f192";
                }
            }
        }
    }

    p.additional_info {
        margin-left: 10px;
    }
}

/*
.questionnaire-result-container {
    
    .tab-pane {
        counter-reset: parentQuestionCounter;
    }
    div.questionnaire-question.parent::before {
        content: counter(parentQuestionCounter) ") ";
        counter-increment: parentQuestionCounter;
        left: 0px;
        float: left;
        margin-left: 0px;
        margin-right: 10px;
        font-weight: bold;
    }

    .questionnaire-questions-container-by-answer{
        counter-reset: subQuestionCounter;
        .sub.questionnaire-question:before{
            content: counter(parentQuestionCounter)"-"counter(subQuestionCounter) ") ";
            counter-increment: subQuestionCounter;
            left: 0px;
            float: left;
            margin-left: 0px;
            margin-right: 10px;
            font-weight: bold;
        }

    }
}

.questionnaire-compare-result-container{
    counter-reset: parentQuestionCounter1 parentQuestionCounter2 ;
    .parent.questionnaire-question:before{
        left: 0px;
        float: left;
        margin-left: 0px;
        margin-right: 10px;
        font-weight: bold;
    }

    .parent.questionnaire-question.left:before{
        content: counter(parentQuestionCounter1) ") ";
        counter-increment: parentQuestionCounter1;
    }
    .parent.questionnaire-question.right:before{
        content: counter(parentQuestionCounter2) ") ";
        counter-increment: parentQuestionCounter2;
    }

    .questionnaire-questions-container-by-answer{
        counter-reset: subQuestionCounter1 subQuestionCounter2;
        .sub.questionnaire-question:before{
            left: 0px;
            float: left;
            margin-left: 0px;
            margin-right: 10px;
            font-weight: bold;
        }
        .sub.questionnaire-question.left:before{
            content: counter(parentQuestionCounter1)"-"counter(subQuestionCounter1) ") ";
            counter-increment: subQuestionCounter1;
        }
        .sub.questionnaire-question.right:before{
            content: counter(parentQuestionCounter2)"-"counter(subQuestionCounter2) ") ";
            counter-increment: subQuestionCounter2;
        }

    }
}
*/