//***************************** RISK MANAGEMENT > PLAN PROJECTS BEGIN *******************************//
div.plan-projects {
	div.row {
		flex-wrap: nowrap;

		&.ui-draggable-dragging {
			background-color: rgba(255, 255, 255, 0);
		}
	}

	div.tab-content {
		overflow: auto;
		padding: 0px 2px;
	}

	div.project-block {
        &:nth-child(even) .row {
            background: #f5f5f5;
        }

		&:not([id=no-sort]) div.project-block--header > div:first-child {
			cursor: move;
		}

		&.highlight > div.project-block--header {
			border-color: var(--sr-success) !important;
			border-width: var(--bs-border-width);
		    border-style: dashed;
		}

		.risks {
			.risk.ui-draggable {
				span.grippy {
					flex-shrink: 0;
					content: "....";
					width: 1.5em;
					height: 2em;
					display: inline-block;
					overflow: hidden;
					line-height: 5px;
					padding: 3px 4px;
					cursor: move;
					vertical-align: middle;
					margin-top: -0.7em;
					margin-right: 0.3em;
					font-size: 12px;
					font-family: sans-serif;
					letter-spacing: 2px;
					//text-shadow: 1px 0 1px white;
			
					&::after {
						content: ".. .. .. .. .. .. ..";
					}
				}

				.risk-content {
					.risk-subject {
						word-break: break-word;
					}
				}

				.risk--score {
					flex-shrink: 0;
				}
			}
		}
	}
}
//****************************** RISK MANAGEMENT > PLAN PROJECTS END ********************************//