::-webkit-scrollbar {
  width: 8px;
  height: 5px;
  //background: $themecolor;
  background: inherit;
}

::-webkit-scrollbar-track {
  //box-shadow: inset 0 0 5px #d1d1d1;
  // background: inherit; 
  border-radius: 2px;
  float: right;
}
::-webkit-scrollbar-thumb {
  background: $gray-700;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
   background: $gray-600; 
}