@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=latin,latin-ext);

body {
	overflow-y: scroll;
}
.wrap {
	marin: 0 auto;
}
ul.tabs {
	width: 100%;
	height: 80px;
	margin: 0 auto;
	list-style: none;
	overflow: hidden;
    padding: 0;
}
ul.tabs li {	
	float: left;
	min-width: 130px;
}
ul.tabs li a {
	position: relative;
	display: block;
	height: 30px;
	margin-top: 40px;
	padding: 10px 20px 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	text-align: center;	
	text-decoration: none;
	color: #ffffff;
	background: #3a3a3a;
	-webkit-box-shadow: 8px 12px 25px 2px rgba(0,0,0,0.4);
	-moz-box-shadow: 8px 12px 25px 2px rgba(0,0,0,0.4);
	box-shadow: 8px 12px 25px 2px rgba(0,0,0,0.4);
	border: 0px solid #000000;
	-webkit-transition: padding 0.2s ease, margin 0.2s ease;
       -moz-transition: padding 0.2s ease, margin 0.2s ease;
         -o-transition: padding 0.2s ease, margin 0.2s ease;
        -ms-transition: padding 0.2s ease, margin 0.2s ease;
	transition: padding 0.2s ease, margin 0.2s ease;
	box-sizing: content-box !important;
	-webkit-box-sizing: content-box !important;
	-moz-box-sizing: content-box !important;
}
.tabs li:first-child a {
	z-index: 3;
	-webkit-border-top-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	border-top-left-radius: 8px;
}
.tabs li:nth-child(2) a {
	z-index: 2;
}
.tabs li:last-child a {
	z-index: 1;
	-webkit-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
	-moz-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
	box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	border-top-right-radius: 8px;
}
ul.tabs li a:hover {
	margin: 35px 0 0 0;
	padding: 10px 20px 5px;
}
ul.tabs li a.active {
	margin: 30px 0 0 0;
	padding: 10px 20px;
	background: #f5f5f5;
	color: #3a3a3a;
	/*color: #ff6831;*/
	z-index: 4;
	outline: none;
}
.group:before,
.group:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.group:after {
    clear: both;
}
#content {
	padding: 20px;
    padding-bottom: 50px;
	width: 100%;
    height: auto;
/*	height: 750px;*/
	margin: 0 auto;
    margin-bottom: 20px;
	background: #f5f5f5;
	-webkit-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
	-moz-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
	box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}
p{
	font-family: 'Open Sans', sans-serif;
	padding: 30px 40px;
	color: #000000;
	line-height: 26px;
	font-size: 18px;
	margin: 0;
}
#general {
  
}
#extras {
  
}
