{% extends 'base.html.twig' %}

{% block jsFiles %}
    <script src="../js/sorttable.js"></script>
    <script src="../js/highcharts.js"></script>
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                {{ html_reporting_menu|raw }}
            </div>
            <div class="span9">
                <div class="row-fluid"><p>{{ ReportClosedHelp }}.</p></div>
                {{ html_risk_table|raw }}
            </div>
        </div>
    </div>


{% endblock %}