<?php
 /* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

// MySQL Database Host Name
define('DB_HOSTNAME', 'localhost');

// MySQL Database Port Number
define('DB_PORT', '3306');

// MySQL Database User Name
define('DB_USERNAME', 'YOUR_DB_USERNAME');

// MySQL Database Password
define('DB_PASSWORD', 'YOUR_DB_PASSWORD');

// MySQL Database Name
define('DB_DATABASE', 'YOUR_DB_NAME');

// Use database for sessions
define('USE_DATABASE_FOR_SESSIONS', 'true');

// Path to the certificate to be used for SSL connections to the database
define('DB_SSL_CERTIFICATE_PATH', '');

// If SimpleRisk is not installed show the installer script
define('SIMPLERISK_INSTALLED', 'false');

?>