.column-selections-container {
    ul {
        list-style:none;
		border: 1px solid var(--bs-border-color);
		height: 100%;
		
        li {
            margin: 0;
            padding:5px 0 0 5px;
        }
    }
}

.edit-popup-container {
    span.required {
        color: $sr-important;
    }
}

.dt-container.dt-bootstrap5 .datatable {
    td.cell-action {
        text-align: center;
    }

    .selectize-dropdown {
        width: auto !important;

        [data-selectable], .optgroup-header {
            white-space: nowrap;
        }
    }

    textarea.edited-field {
        height: auto;
        width: auto;
    }

    input[type=text].edited-field {
        margin: unset;
        height: auto;
        padding: 5px;
    }
}