// In this scss you can overwrite all our scss, we suggested you to add your scss into this, so whenever the update comes it will not affect your code.

/*--------------------------------------------------------------
 ## Helper Classes
 --------------------------------------------------------------*/

 @media print {

    :root {
        --bs-gutter-x: 0px;
    }

    * { overflow: visible !important; } 

    .page-wrapper {
        position:unset;
        top: 0px;
        margin-left: 0px;

        .content{
            margin: 10px 0px !important;
            padding: 10px 0px !important;
            width: 100% !important;
        }
    }

    .left-sidebar, .topbar, footer, .page-breadcrumb {
        display: none;
    }

    div.questionnaire-results {

        nav.nav.nav-tabs, div.navigation, h2.accordion-header, div#questionnaire_responses > div.btn-toolbar {
            display: none !important;
        }
        
        .accordion {
            --bs-accordion-border-width: 0px !important;
        }
        
        &.border {
            --bs-border-width: 0px;
        }
        
        &.card-body, .card-body {
            padding: 10px 0px !important;
        }
        
        div.tab-content{
            .tab-pane{
            border-top: 1px solid var(--bs-border-color);
        
                &:not(.active) {
                    display: block !important;
                }
            }
        }
    }
}

.animation {
	-webkit-transition: all .2s;
	/* Safari */
	transition: all .2s;
}

.reset {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	outline: none;
	list-style: none;
}


div.tox.tox-tinymce {
	border-radius: $border-radius;
	border: 1px solid $input-border-color;
}

@each $color, $value in $light-colored-buttons {
	.btn-#{$color} {
		@include button-variant($value,
			$value,
			$hover-background: shade-color($value, $btn-hover-bg-shade-amount),
			$hover-border: shade-color($value, $btn-hover-border-shade-amount),
			$active-background: shade-color($value, $btn-active-bg-shade-amount),
			$active-border: shade-color($value, $btn-active-border-shade-amount));
	}
}

@each $color, $value in $dark-colored-buttons {
	.btn-#{$color} {
		@include button-variant($value,
			$value,
			$hover-background: tint-color($value, $btn-hover-bg-tint-amount),
			$hover-border: tint-color($value, $btn-hover-border-tint-amount),
			$active-background: tint-color($value, $btn-active-bg-tint-amount),
			$active-border: tint-color($value, $btn-active-border-tint-amount));
	}
}

@each $color, $value in map-merge($light-colored-buttons, $dark-colored-buttons) {
	.btn-outline-#{$color} {
		@include button-outline-variant($value);
	}
}

:root {
	@each $color, $value in map-merge($theme-colors, map-merge($light-colored-buttons, $dark-colored-buttons)) {
		--sr-#{$color}: #{$value};
	}
}

//GENERATE CLASSES FOR CURSOR
$cursor_values: auto, default, pointer, wait, text, move, help, not-allowed;
@each $value in $cursor_values {
	.cursor-#{$value} {
		cursor: #{$value};
	}
}

.collapsible--toggle {
	.collapse-title {
		cursor: pointer;
	}
}

.cust-align {
	align-items: flex-end;
}

span.required {
	color: var(--sr-important);
}

// REQUIRED FIELDS
.error {
	border-color: var(--sr-danger);
}

.accordion {
	--bs-accordion-active-bg: var(--bs-default);
	--bs-accordion-btn-bg: var(--bs-default);

	.accordion-button {
		font-weight: 600;
		font-size: 1rem;
	}
}


label {
	font-weight: 700 !important;
	margin-bottom: .125rem;
}

.modal-dark .modal-content {
	color: var(--bs-body-bg);
	background-color: var(--sr-primary);
}

/* to make the number inputs' arrows always visible*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	opacity: 1;
}

.assets-asset-groups-select-disabled,
.assets-asset-groups-select {


	.selectize-input {
		div.active {
			/*border: 1px solid #0d6efd !important;*/
			box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, .25);
		}

		a.remove {
			padding-left: .25rem;
		}
	}


	.asset {
		background-color: var(--sr-default) !important;
		color: var(--sr-primary) !important;
	}

	.group {
		background-color: var(--sr-secondary) !important;
		color: var(--bs-body-bg) !important;
	}
}

.selectize-dropdown-content {

	.optgroup {
		&[data-group='asset'] .optgroup-header {
			background-color: var(--sr-default);
		}

		&[data-group='group'] .optgroup-header {
			background-color: var(--sr-secondary);
			color: var(--bs-body-bg)
		}
	}
}

//************************ ALERT MODAL AND CONFIRM MODAL BEGIN ************************//
.message-container {
	.message {
		font-size: 20px;
	}
}
//************************* ALERT MODAL AND CONFIRM MODAL END *************************//

//**************** MAKE THE LONG TEXT WITHOUT SPACES WRAPPED IN THE TABLE *************//
.datagrid-body {
	table.datagrid-btable {
		tr.datagrid-row {
			td {
				word-break: break-word;

				&>div.datagrid-cell {
					display: flex;
                    flex-direction: column;

					.tree-indent, 
					.tree-hit {
						flex-shrink: 0;
					}
				}
			}
		}
	}
}
//**************** MAKE THE LONG TEXT WITHOUT SPACES WRAPPED IN THE TABLE *************//

// FOR MAKING MODALS WITH THE DIRECT CHILD 'form' OF '.modal-content' SCROLLABLE AND CENTERED
.modal-content>form {
	position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
	
	.modal-dialog-scrollable & {
		max-height: 100%;
		overflow: hidden;
	}
}

// REPORTING / DYNAMIC RISK REPORT PAGE - selectize delete button
.delete-option-btn {
	color: var(--sr-secondary);
	transition: all ease .3s;
	margin-left: auto;
}

.delete-option-btn:hover {
	color: var(--sr-dark);
}

// REPORTING / DYNAMIC RISK REPORT PAGE / PRINT BY GROUP PAGE
html:has(.print-by-group-page) {
	background-color: #e8e9eb;
}

.print-by-group-page {
	background-color: #e8e9eb;
	padding: 10px;

	#risk-table-container {
		table th {
			background-color: #e8e9eb;
		}
	}
}

.print-by-group-page-body {
    padding: 10px;
    background-color: #fff;
    width: calc(100vw - var(--sr-sidebar-width) - 18px);
}

// REPORTING / CONNECTIVITY VISUALIZER PAGE
// SELECT2 CONTROL
// (CHANGED ITS SEVERAL STYLES
// SO THAT COULD MAKE IT LOOK LIKE THAT FITS WITH OTHER FORM CONTROLS.)
.select2-container--default {
	.select2-selection--single {
		background-color: var(--bs-body-bg) !important;
		border: var(--bs-border-width) solid $input-border-color !important;
		border-radius: var(--bs-border-radius) !important;
		height: calc(1.5em + .75rem + 2px) !important;

		&[aria-expanded=true] {
			border-color: rgba(0, 0, 0, .25);
			outline: 0;
			box-shadow: 0 0 0 .25rem rgba(0, 0, 0, .25);
		}

		.select2-selection__rendered {
			line-height: calc(1.5em + .75rem + 2px) !important;
		}

		.select2-selection__arrow {
			height: calc(1.5em + .75rem) !important;
		}
	}

	.select2-results__option--highlighted.select2-results__option--selectable {
		background-color: var(--bs-dark-bg-subtle) !important;
	}
}

// CONFIGURE / CONTENT PAGE -- button style and font size
#frameworks,
#assessments {
	a {
		color: var(--bs-cyan);
	}

	a:hover {
		color: var(--bs-purple);
	}
}

// CONFIGURE / RISK FORMULA PAGE -- editable input
span.editable {
	cursor: pointer;

	&:after {
		margin-left: 5px;
		content: "\f303";
		font-family: var(--fa-style-family-classic);
		font-weight: 900;
	}
}

input.editable {
	min-width: 50px !important;
	max-width: 99.99% !important;
	transition: width 0.25s;
	text-align: center;
	font-family: monospace;
	max-height: 1.2em;
	padding: 10px 5px;
}

input.editable:focus {
	color: var(--bs-body-color);
	background-color: var(--bs-body-bg);
	border-color: rgba(0, 0, 0, .25);
	outline: 0;
	border: var(--bs-border-width) solid var(--sr-default);
	border-radius: var(--bs-border-radius);
}

.color-picker {
	width: 35px;
	height: 35px;
	padding: 4px;
}

// CONFIGURE / RISK FORMULA PAGE -- risk level table
.risk-level-table {
	td {
		padding: 2px 10px;
	}

	[class*='risk-table'] {
		width: 10px;
		height: 10px;
		border: 1px solid #000;
	}
}

// CONFIGURE / RISK FORMULA PAGE -- risk formula table
.risk-formula-table {
	#impact-label {
		text-orientation: upright;
		writing-mode: vertical-lr;
		width: 25px;
	}
}

// CONFIGURE / RISK FORMULA PAGE -- contributing risks likelihood table, contributing risk table, contributing risks impact table
#contributing-risks-likelihood-table,
#contributing-risk-table,
#contributing-risks-impact-table {
	i.fa-trash {
		cursor: pointer;
	}
}

.likelihood-btn-container {
	margin-left: -75px;
}

#add-impact,
#delete-impact,
#add-likelihood,
#delete-likelihood {
	i {
		width: 25px;
		height: 25px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 2px solid var(--sr-dark);
		border-radius: 50%;
		box-shadow: var(--bs-box-shadow);
	}

	i:active {
		box-shadow: none;
	}
}

#add-impact,
#add-likelihood {
	i {
		color: var(--sr-success);
		border-color: var(--sr-success);
	}
}

#delete-impact,
#delete-likelihood {
	i {
		color: var(--sr-warning);
		border-color: var(--sr-warning);
	}
}

// CONFIGURE / ASSET VALUATION PAGE -- dollar sign input
input#dollarsign {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjx0ZXh0IHg9IjVweCIgeT0iMjBweCIgZm9udC1zaXplPSIxNSIgc3Ryb2tlPSJncmVlbiIgZmlsbD0iZ3JlZW4iPiQ8L3RleHQ+PC9zdmc+);
	background-repeat: no-repeat;
	background-color: white;
	background-position: left;
	padding-left: 35px;
}

// CONFIGURE / AUDIT TRAIL PAGE -- download btn
.download-btn {
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 2px solid $excel-green;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    transition: all ease .3s;
    cursor: pointer;
    box-shadow: var(--bs-box-shadow);

    &>i {
        font-size: 20px;
        color: $excel-green;
        transition: all ease .3s;
    }

    &:hover {
        filter: brightness(135%);
    }

    &:active {
        box-shadow: none;
    }
}

// CONFIGURE / EXTRAS PAGE -- email <a> tag
.extras-page {
	a {
		color: var(--bs-cyan);
	}

	a:hover {
		color: var(--bs-purple);
	}
}

// CONFIGURE / EXTRAS PAGE / CUSTOM AUTHENTICATION PAG 
.ldap-tab-pane-item {
	display: flex;
	align-items: center;

	label:not(:only-child) {
		width: 200px;
		min-width: 200px;
	}
}

// CONFIGURE / EXTRAS PAGE / CUSTOMIZATION EXTRA PAGE
.field-group {
	display: flex;
	align-items: center;

	label {
		width: 100px;
		min-width: 100px;
	}

	select {
		width: 200px;
		min-width: 200px;
	}
}

.field-create-form-item {
	display: flex;
	align-items: center;

	label {
		width: 150px;
		min-width: 150px;
	}
}

.field-delete-form-item {
	display: flex;
	align-items: center;

	label {
		width: 150px;
		min-width: 150px;
	}

	#option_name {
		margin-left: 150px;
	}
}

#templates {
	.templates-group-container {
		display: flex;
		align-items: flex-end;

		.templates-btn-group {
			width: 200px;
			min-width: 200px;
		}
	}

	#tabs {
		border: none;
	}

	.top-panel,
	.left-panel,
	.right-panel,
	.bottom-panel {
		padding: 10px;
		border: 1px solid var(--bs-default);
		margin: 5px;
		background-color: white;
		font-weight: normal;
		line-height: var(--bs-body-line-height);

		.field-holder {
			width: 100%;
			padding: 5px 10px;
			display: flex;
			justify-content: space-between;
			border: 1px solid var(--bs-secondary);

			&:not(:first-child) {
				margin-top: 5px;
			}
		}
	}
}

// CONFIGURE / EXTRAS PAGE / NOTIFICATION EXTRA PAGE
.specified_time_holder {
	display: none;
}

.schedule-form-group {
	margin-bottom: 10px;
	display: flex;
	align-items: center;

	label {
		min-width: 100px;
		width: 100px;
	}

}

#actions {
	.accordion-header {
		position: relative;

		.hidden-checkbox {
			position: absolute;
			margin: 0;
			top: 50%;
			left: 10px;
			transform: translateY(-50%);
			z-index: 20;
		}

		.accordion-button {
			padding-left: 35px;
		}
	}
}

// CONFIGURE / EXTRAS PAGE / ORGANIZATIONAL HIERARCHY EXTRA PAGE
.organizational-hierarchy-page {
	.datagrid-header {
		table.datagrid-htable {
			tr.datagrid-header-row {
				background-color: var(--bs-table-bg);
			}
		}
	}
}

.select-list-wrapper {
	display: flex;
	justify-content: space-between;

	.select-list-available,
	.select-list-selected {
		width: 40%;
		display: flex;
		flex-direction: column;

		select[multiple=multiple] {
			flex-grow: 1;
		}
	}

	.select-list-arrows {
		width: 10%;
		margin-top: 20px;

		input {
			padding: 3px;
			width: 30px;
			margin: 2px;
		}
	}
}

.sidebar-item {
	ul.first-level.in {
		li.sidebar-item {
			background-color: #424242; //var(--sr-dark)
		}
	}
}

input[readonly].form-control,
select[readonly].form-control {
	cursor: default;
	pointer-events: none;
	background-color: var(--bs-gray-400);
	border-width: inherit;
}

// LOGIN, RESET, RESET_PASSWORD PAGE
div#main-wrapper[data-function="login"],
div#main-wrapper[data-function="reset"],
div#main-wrapper[data-function="reset_password"] {

	.page-wrapper {
		background-color: var(--sr-dark);

		.content {

			background-color: inherit;

			.container.login-form,
			.container.reset-form,
			.container.reset-password-form {

				--bs-heading-color: var(--sr-light);

				h3 {
					font-size: 24px;
					text-align: center;
					margin: 0 0 15px;
					font-weight: 800;
				}

				.card {
					background-color: var(--sr-primary);
					border-radius: 2px;
					padding: 10px;
					color: var(--sr-light);

					.card-title {
						font-size: 20px;
						padding-bottom: 4px;
					}

					.form-group label {
						font-weight: 400 !important;
					}

					.btn-secondary,
					.btn-secondary:hover {
						background: transparent;
						border-color: var(--sr-light);
					}

					.form-group:last-child {
						text-align: revert;
						display: flex;
						justify-content: space-between;
					}

					a {
						color: inherit;
						margin-top: 6px;
						display: inline-block;
						text-decoration: underline;
					}
				}
			}

			.container.login-form {
				.password-container {
					position: relative;

					#pass {
						padding-right: 30px;
					}

					#eye-icon {
						position: absolute;
						right: 10px;
						top: 18px;
						transform: translateY(-50%);
						cursor: pointer;
						color: var(--bs-body-color);
					}
				}
			}
		}
	}
}

// CONFIGURE / EXTRAS / SECURE CONTROLS FRAMEWORK(SCF) PAGE 
#complianceforge_scf_controls_disabled,
#complianceforge_scf_controls_enabled {
	height: 20rem;
    padding: .25rem 0px;

    option {
        padding-left: .5rem;
    }
}

// CONFIGURE / REGISTER PAGE
.registration-table-edit,
.registration-table {
	.form-group {
		display: flex;
		align-items: center;

		label {
			width: 150px;
			min-width: 150px;
		}
	}
}

// VULNERABILITY MANAGEMENT / CONFIGURE PAGE
.configure-log-table {
	td {
		padding: 5px 0;
	}
}

// INCIDENT MANAGEMENT / INCIDENT PAGE
.single-btn {
	width: 40px;
	height: 40px;
	border-radius: 100px;
	border: 1px solid var(--bs-default);
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--bs-secondary);
	box-shadow: var(--bs-box-shadow);
}

.single-btn:hover {
	color: var(--bs-dark);
}

.single-btn:active {
	box-shadow: none;
}

#incident_response_identification_view,
#incident_response_identification_edit {
	.form-group {
		label {
			width: 200px;
			min-width: 200px;
		}
	}
}

#template-tabs {
	.btn.remove-tab {
		--bs-btn-padding-y: 0px;
		--bs-btn-padding-x: 0px;
		vertical-align: baseline;
	}

	.remove-question {
		margin-left: 5px;
	}
	
	input.editable:invalid {
		background-color: ivory;
	  	border: none;
	  	outline: 1px solid var(--sr-important);
	  	border-radius: 1px;
	}
}

/* Styles for JQuery sortable/dragable */
table tr.ui-sortable-helper {
	display: table !important;
	opacity: 0.8;
}

.sortable-placeholder > td {
	background-color: var(--sr-default);
}

.draghandle:hover {
	cursor: move;
}
/* End of styles for JQuery sortable/dragable */

// CONFIGURE / SETTINGS PAGE
.slider-progress-values {
    display: flex;
    justify-content: space-between;
	span.risk-color {
		width: 20px;
		height: 20px;
		border-radius: 2px;
		border: 1px solid;
	}
}

#slider {
    height: 0.8em;
    border: 1px solid #aaa;
    border-radius: 4px;
    position: relative;
}

// RISK MANAGEMENT / RISK DETAILS
.risk-session {
	.risk-subject {
		word-break: break-word;
	}
}

.risk-details {
	word-break: break-all;

	label {
		white-space: nowrap;
	}

	.rich-text-container {
		&>:last-child {
			margin-bottom: 0;
		}
	}

	.risk-details-assessment,
	.risk-details-additional-notes {
		word-break: break-word;
	}
}

[name=update_cvss] {
	table {
		tr:last-of-type {
			.cal-text {
				padding-bottom: .5rem;
				border-bottom: 1px solid #d1d3d4;
			}
		}
	}
}

#score-container-accordion-body {
	table {
		td, th {
			padding: 5px;
		}
	}
}

.tabs--action {
	margin-top: 1.25rem;
	margin-right: 1.25rem;
}

// RISK MANAGEMENT / SUBMIT RISK
#tab-content-container {
	.left-panel, 
	.right-panel, 
	.top-panel, 
	.bottom-panel {
		label {
			white-space: nowrap;
		}
	}
}

// RISK MANAGEMENT / SUBMIT RISK PAGE / CVSS
html:has(.score-method-page) {
	background-color: #e8e9eb;
}

.score-method-page {
	background-color: #e8e9eb;
	padding: 10px;
}

.score-method-page-header {
	padding: 20px 10px;
}

.score-method-page-body {
    padding: 10px;
    background-color: #fff;
    width: calc(100vw - var(--sr-sidebar-width) - 18px);

	.score-item {
		label {
			width: 200px;
			min-width: 200px;
		}

		.score-value  {
			background-color: var(--bs-secondary-bg);
		}
	}
}

.affected-assets-instructions, .tag-max-length-warning {
    font-weight: normal;
    font-size: .75rem;
    color: var(--sr-danger);
}

// RISK MANAGEMENT / PLAN PROJECT PAGE
.project-block {
	.project-block--header {
		div {
			word-break: break-word;
		}
	}
}

// RISK MANAGEMENT / PRINT VIEW PAGE
.risk-details-container, 
.mitigation-details-container,
.mitigation-controls-container,
.review-details-container {
	&>div:last-child {
		margin-bottom: 0 !important;
	}
}
.comments-container, .audit-trail-container {
	&>p:last-child {
		margin-bottom: 0 !important;
	}
}

// INCIDENT MANAGEMENT / INCIDENTS / IDENTIFICATION PAGE,
// INCIDENT MANAGEMENT / INCIDENT DETAILS PAGE
.asset-assetgroup-instructions {
	font-weight: normal;
    font-size: .75rem;
    color: var(--sr-danger);
}

// ASSESSMENTS / QUESTIONNAIRE RESULTS PAGE
#closed-risk-container {
	.questionnaire-closed-risk-form {
		th {
			font-weight: bold;
			width: 200px; 
			min-width: 200px;
		}
	
		td.risk_value {
			font-weight: normal;
		}
	}
}

#active-risk-container {
	.questionnaire-active-risk-form {
		th {
			font-weight: bold;
			width: 200px; 
			min-width: 200px;
		}
	
		td.risk_value {
			font-weight: normal;
		}
	}
}

.hidden-file-upload {
	visibility: hidden;
	display: none;
}

.file-uploader .file-count {
    margin-left: 10px;
    font-size: 13px; 
}

.file-uploader .file-list, .file-uploader .exist-files {
    margin-top: 10px;
    list-style: none;
    margin-left: 0px;
    color: #187bd0;
    font-size: 14px;
}

.file-uploader .file-list > li, .file-uploader .exist-files > li {
    margin-bottom: 10px;
}
    
.file-uploader .file-list > li .file-name, .file-uploader .exist-files > li .file-name {
    float: left;
    width: calc(100% - 30px);
    word-wrap: break-word;
}
      
.file-uploader .file-list > li .remove-file, .file-uploader .exist-files > li .remove-file {
    float: right;
    font-size: 20px;
}
      
.file-uploader .file-list > li:after, .file-uploader .exist-files > li:after {
    content: "";
    clear: both;
    display: table; 
}

.differency {
	background-color: var(--bs-highlight-bg);
}

// PROFILE PAGE
.profile-info-container {
	.form-group {
		display: flex;
		align-items: center;

		label {
			width: 150px;
			min-width: 150px;
		}
	}

	.teams-group {
		width: 100%;
		padding: .375rem .75rem;
		border: var(--bs-border-width) solid #e9ecef;
    	border-radius: var(--bs-border-radius);
	}

	.form-control:disabled {
		background-color: white;
	}
}


a.open-in-new-tab {
    color: rgba(var(--bs-info-rgb), 1);

    &:after {
        margin-left: .25rem;
        content: "\f35d";
        color: var(--bs-body-color);
        font: normal normal 600 8px/1 var(--fa-style-family-classic);
        vertical-align: super;
    }
}


.blockMsg {
    color: var(--sr-light);
    background-color: var(--sr-dark);
}

// SELECTIZE CONTROL
// (REMOVED ITS BLUE BOX SHADOW WHEN FOCUSED AND BORDER RADIUS, 
// GAVE THE SAME BOX SHADOW AS '.form-select' 
// SO THAT COULD MAKE IT LOOK LIKE THAT FITS WITH OTHER FORM CONTROLS.)
.selectize-input {
	border: var(--bs-border-width) solid $input-border-color !important;
    border-radius: var(--bs-border-radius) !important;

	&.focus {
		border-color: $input-focus-border-color !important;
		outline: 0 !important;
		box-shadow: 0 0 0 .25rem rgba(0, 0, 0, .25) !important;
	}

	// SELECTED ITEM
	&>div {
		border-radius: var(--bs-border-radius) !important;
	}
}

.selectize-dropdown {
	border: var(--bs-border-width) solid $input-border-color !important;
    border-radius: var(--bs-border-radius) !important;
    z-index: 10001 !important;
}

// COMPLIANCE / PAST AUDITS PAGE
#framework-controls {
	td.sorting_1 {
		//remove the black unnecessary border-bottom, border-left, border-right
		border: none;

		//add border-top since it was none
		td {
			border-top: 1px solid var(--bs-table-border-color);
		}
	}
}

// COMPLIANCE / PAST AUDITS PAGE
.progress-wrapper {
    background-color: var(--sr-primary);
    border-radius: 2px;
    box-shadow: none;
    border: none;
    padding: 5px 0px;
    margin-top: 5px;

    .progress-window {
        height: 220px;
        max-height: 220px;
        padding: 15px;
        overflow-y: auto;
        color: var(--sr-light);

        .error_message{
            color: var(--sr-important);
        }
    }
}

.text-left {
    text-align: left !important;
}

.modal .selectize-dropdown { z-index: 9999 !important; }

// a#risk_detail {
//     width: 200px;
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
// }



.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}





@import "modules/treegrid";
@import "modules/colorpicker";
@import "modules/tabs";

@import "modules/governance";
@import "modules/riskmanagement";
@import "modules/compliance";
@import "modules/assetmanagement";
@import "modules/incidentmanagement";
@import "modules/assessment";
@import "modules/questionnaire";
@import "modules/reporting";
@import "modules/configure";
//@import "modules/_tabs";







// @import "modules/asset_management";
// @import "modules/buttons";
// @import "modules/comments";
// @import "modules/custom";
// @import "modules/customization";
// @import "modules/datatable_widget";
// @import "modules/datepicker";
// @import "modules/dsp";
// @import "modules/login";
// @import "modules/modals";
// @import "modules/model";
// @import "modules/multiselect";
// @import "modules/navs";
// @import "modules/notification";
// @import "modules/pagination";
// @import "modules/permissions_widget";
// @import "modules/plan-projects";
// @import "modules/profile";
// @import "modules/risks";
// @import "modules/scoring";
// @import "modules/selectlist";
// @import "modules/widgets";
